.container {
  color: color('primary.dark');
  background: get('color.primary.light');

  .fixed-header {
    &-virtual-bd {
      display: none;
    }

    &-virtual-bd,
    &-hd {
      height: 50px;
      color: #fff;
    }

    &-hd {
      //border: 1px solid #f00;
      background: #f60;
    }

    &-bd {
      height: 50px;
      display: block;
      background: #060;
      width: 100%;
    }

    &-virtual-bd {
      &.mini {
        width: 100%;
        background: #ccc;
        height: 50px;
        display: block;
      }
    }

    &-bd {
      &.mini {
        top: 0;
        position: fixed;
      }
    }
  }
}
