//generator basic items:
$colors: (
  f: #fff,
  e: #eee,
  0: #000,
  3: #333,
  6: #666,
  8: #888,
  9: #999,
  green: "#4cd964",
  red: #d00,
  gold: #ad8661,
  orange: #fc6e22,
  blue: #38a0f5,
  blue-a: #1d2b40,
  gray: #98a2b5
);

$margin-list: (2, 3, 4, 5, 6, 8, 10, 14, 20, 30, 40, 50);
$padding-list: (3, 5, 6, 8, 10, 14, 16, 20, 30, 50);
$font-size-list: (10, 12, 14, 16, 18, 20, 48);
$blank-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 20, 25, 30, 35, 40);
$line-height: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40);
$border-radius-list: (3, 4, 5, 6, 8, 10);
$line-clamp-list: (1, 2, 3);
$width-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

@include generator-background-color($colors);
@include generator-color($colors);
@include generator-box-rpx($padding-list, p);
@include generator-box-rpx($padding-list, px);
@include generator-box-rpx($padding-list, py);
@include generator-box-rpx($padding-list, pt);
@include generator-box-rpx($padding-list, pr);
@include generator-box-rpx($padding-list, pb);
@include generator-box-rpx($padding-list, pl);
@include generator-box-rpx($margin-list, m);
@include generator-box-rpx($margin-list, mx);
@include generator-box-rpx($margin-list, my);
@include generator-box-rpx($margin-list, mt);
@include generator-box-rpx($margin-list, mr);
@include generator-box-rpx($margin-list, mb);
@include generator-box-rpx($margin-list, ml);

@include generator-width-wp($width-list);
@include generator-width-w1($width-list);
@include generator-font-size-rpx($font-size-list, ".f");
@include generator-blank-rpx($blank-list);
@include generator-border-radius($border-radius-list);
@include generator-line-clamp($line-clamp-list, ".lc-");
@include generator-line-height-rpx($line-height);
@include generator-hlh-rpx($line-height);
