//generator basic items:
$colors: (
  f: #fff,
  e: #eee,
  0: #000,
  3: #333,
  6: #666,
  8: #888,
  9: #999,
  primary-hsl: hsl(200, 0.3, 0.8),
  primary: get('color.primary.default'),
  primary-lighten: lighten(get('color.primary.default'), 10%),
  primary-50: rgba(get('color.primary.default'), 0.1),
  red-70: rgba(#f00, 0.7),
  red-90: rgba(255, 0, 0, 0.8),
  gray: get('color.gray')
);

//@debug get('color.primary.default');
//@debug hue(get('color.primary.default'));
//@debug hsl(
//  hue(get('color.primary.default')),
//  saturation(get('color.primary.default')),
//  lightness(get('color.primary.default'))
//);

body {
  /**test hsl**/
  background: hsl(
    hue(get('color.primary.default')),
    33%,
    97
  );
}

$margin-list: (2, 3, 4, 5, 6, 8, 10, 14, 20, 30, 40, 50);
$padding-list: (3, 5, 6, 8, 10, 14, 16, 20, 30, 50);
$font-size-list: (10, 12, 14, 16, 18, 20, 48);
$blank-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 20, 25, 30, 35, 40);
$line-height: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40);
$border-radius-list: (3, 4, 5, 6, 8, 10);
$line-clamp-list: (1, 2, 3);
$width-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

@include generator-background-color($colors);
@include generator-color($colors);
@include generator-box-rpx($padding-list, p);
@include generator-box-rpx($padding-list, px);
@include generator-box-rpx($padding-list, py);
@include generator-box-rpx($padding-list, pt);
@include generator-box-rpx($padding-list, pr);
@include generator-box-rpx($padding-list, pb);
@include generator-box-rpx($padding-list, pl);
@include generator-box-rpx($margin-list, m);
@include generator-box-rpx($margin-list, mx);
@include generator-box-rpx($margin-list, my);
@include generator-box-rpx($margin-list, mt);
@include generator-box-rpx($margin-list, mr);
@include generator-box-rpx($margin-list, mb);
@include generator-box-rpx($margin-list, ml);

@include generator-width-wp($width-list);
@include generator-width-w1($width-list);
@include generator-font-size-rpx($font-size-list, '.f');
@include generator-blank-rpx($blank-list);
@include generator-border-radius($border-radius-list);
@include generator-line-clamp($line-clamp-list, '.lc-');
@include generator-line-height-rpx($line-height);
@include generator-hlh-rpx($line-height);
